/*layout.css, Dani Baker, 301070844, September 26th 2024*/
.navtext {
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 40px;
    margin-left: 40px;
}
.navbar-container{
background-color: #9ad9ea;
color:white;
margin-bottom: 20px;
padding-right: 20px;
padding-bottom: 20px;

}
.container2{
    padding-bottom: 12px;
    border-bottom:2px solid white;
}
.navbar {
    color:white !important;
    border-bottom: 2px solid white;
}
.navbar a{
    color:white;
}
.navbar a:visited {
    color:white !important;
}
body {background-color: white;
text-align: center;}
